@charset "utf-8";
/* CSS Document */
.unstyled{
height:450px
}
.tab-pane p {
	color:#4f4f4f}

.tab-pane ul {
	padding:0;
	margin:0;}

.tab-pane ul li{
	list-style:none}
.tab-pane ul li a {
	line-height:45px;
	color:#707070}
.tab-pane ul li  p {
	color:#707070;
	float:right;
	display:block;
	padding-top:13px}
.btbg img {
	width:640px}
.right_img{
	padding-top:10px;
	margin:0 0 0 50px}