
<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
    <stl:include file="@/include/header.html"></stl:include>   
</head> 
<body>
    <stl:include file="@/include/nav.html"></stl:include> 

    <article> 
        <div class="container static-page">
            <div class="row distribution-installation">
                <div class="col-sm-6 fore1">
                    <div class="img-lovely">
                        <img class="img-responsive" src="{Channel.ImageUrl}">
                    </div>
                </div>
                <div class="col-sm-6 fore2">
                    <h2 class="h5 mt0">{Channel.Title}</h2>
                    {Channel.Content}
                </div>
            </div>
        </div>
    </article> 

    <stl:include file="@/include/footer.html"></stl:include>
</body>
</html>
